<h1>{{instance.desired.name}}</h1>
<div class="col-md-2">
    <div class="well">
        <span>CPU</span>
        <span class="label label-info">{{instance.desired.vcpu}} virtual</span>
          <span class="label label-warning" ng-display="instance.desired.rcpu>0">{{instance.desired.rcpu}} reserved<span>
      </div>

        <div>Memory</div>
        <div>{{instance.desired.mem}}</div>

        <div>Boot</div>
        <div>{{instance.desired.boot}}</div>
</div>

<div class="col-md-6 col-md-offset-1">
  <div class="well">
    <h2>Network</h2>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>uuid</th>
				<th>hw address</th>
			</tr>
			</thead>
			<tr ng-repeat="vnic in vnics">
				<td>{{vnic.desired.uuid}}</td>
				<td>{{vnic.desired.macaddr}}</td>
			</tr>
		</table>
  </div>

  <div class="well">
    <h2>Storage</h2>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>uuid</th>
				<th>Name</th>
				<th>Size</th>
			</tr>
			</thead>
			<tr ng-repeat="vdisk in vdisks">
				<td>{{vdisk.desired.uuid}}</td>
				<td>{{vdisk.desired.name}}</td>
				<td>{{volumeDict[vdisk.desired.volume].desired.size}} Mb</td>
			</tr>
		</table>
  </div>
</div>
