<div>
	<h1>Network Interfaces</h1>

	<div class="row">
		<form class="modal-form" name="form">
			<div class="col-md-9">
				<div class="well" ng-repeat="bond in ngModel.bonds">
            <div class="row">
					      <button class="close" ng-click="removeAggregation($index)">&times;</button>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <h4>{{ 'host.network.bond.settings' | i18next }}</h4>

                  <div class="form-group">
                    <label class="col-sm-3">{{ 'host.network.bond.mode.title' | i18next }}</label>

                    <div class="controls">
                      <div class="btn-group" ng-model="bond.desired.mode" bs-radio-group>
                        <label class="btn btn-default">
                            <input type="radio" value="802.3ad"> {{ 'host.network.bond.mode.8023ad' | i18next }}
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" value="active-backup"> {{ 'host.network.bond.mode.active-backup' | i18next }}
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-show="bond.desired.mode == '802.3ad'">
                    <label class="col-sm-3">{{ 'host.network.bond.xmit-hash-policy.title' | i18next }}</label>

                    <div class="controls">
                      <div class="btn-group" ng-model="bond.desired.xmit_hash_policy" bs-radio-group>
                        <label class="btn btn-default">
                            <input type="radio"class="hidden" value="layer2">{{ 'host.network.bond.xmit-hash-policy.layer2' | i18next }}
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" class="hidden" value="layer2+3">{{ 'host.network.bond.xmit-hash-policy.layer23' | i18next }}
                        </label>
                         <label class="btn btn-default">
                            <input type="radio" class="hidden" value="layer3+4">{{ 'host.network.bond.xmit-hash-policy.layer34' | i18next }}
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" ng-show="bond.desired.mode == '802.3ad'">
                    <label class="col-sm-3">{{ 'host.network.bond.lacp-rate.title' | i18next }}</label>

                    <div class="controls">
                      <div class="btn-group" ng-model="bond.desired.lacp_rate" bs-radio-group>
                        <label class="btn btn-default">
                            <input type="radio" value="fast">{{ 'host.network.bond.lacp-rate.fast' | i18next }}</input>
                        </label>

                        <label class="btn btn-default">
                            <input type="radio" value="slow">{{ 'host.network.bond.lacp-rate.slow' | i18next }}</input>
                        </label>
                      </div>

                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                  <h4>Physical NICs</h4>

                  <div class="form-group" ng-show="bond.desired.nics.length == 0">
                    <div class="controls">
                      This bond is very lonely. Introduce it to some cute NICs.
                    </div>
                  </div>

                  <div class="form-group" data-role="{{nic.desired.hwaddr}}" ng-repeat="nic in bond.desired.nics">
                    <div class="controls">
                      <span>{{nic.desired.hwaddr}} </span>
                      <a ng-click="removeNic(bond, $index)"> <span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="controls">
                      <div class="dropdown">
                        <a class="dropdown-toggle btn btn-primary" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i> Add NIC</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                          <li ng-class="{disabled: !nic.enabled}" ng-repeat="(hwaddr, nic) in availableNics">
                            <a href="javascript:void(0);" ng-click="addNic(bond, hwaddr)">{{ hwaddr }}</a>
                          </li>
                          <li class="divider"></li>
                          <li><a ng-click="addAllAvailableResources(bond, 'nic')">Add all available</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>

              </div>
              </div>
              <div class="col-md-6">

                  <h4>Network Roles</h4>

                  <div class="form-group" ng-show="bond.desired.roles.length == 0">
                    <div class="controls">
                      No network roles make this bond sad. Make it happy by adding some roles.
                    </div>
                  </div>

                  <div class="form-group" data-role="{{ role.desired.role }}"
                       ng-repeat="role in bond.desired.roles">
                       <div class="col-md-4">
                           <label>{{role.desired.role}}</label>
                           <a class="pull-right" ng-click="removeNicRole(bond, $index)"> <span class="glyphicon glyphicon-remove"></span></a>
                       </div>

                    <div class="col-md-8 form-group">
                      <div class="col-md-6 input-group">
                        <span class="input-group-addon">VLAN</span>
                        <input class="form-control" id="tag" name="vlan_id" type="number" min="1" max="4096" placeholder="tag"
                               ng-model="role.desired.vlan_id">
                      </div>

                      <div class="col-md-9 input-group"
                           ng-show="role.desired.role != 'core' && role.desired.role != 'management'">
                        <span class="input-group-addon">IP</span>
                        <input id="ip" type="text" class="form-control" placeholder="IPv4 or IPv6"
                               ng-model="role.desired.address">
                      </div>

                      <span class="help-block" ng-show="form.vlan_id.$error.number">This is not valid number!</span>
                      <span class="help-block" ng-show="form.vlan_id.$error.min || form.vlan_id.$error.max">The value must be in range 1 to 4096!</span>

                    </div>
                  </div>

                  <div class="btn-group">
                      <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown"><i class="glyphicon glyphicon-plus"></i> Add role</button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-class="{disabled: !role.enabled}" ng-repeat="(id, role) in availableRoles">
                        <a href="javascript:void(0);" ng-click="addNicRole(bond, id)">{{ role.name }}</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="javascript:void(0);" ng-click="addAllAvailableResources(bond, 'nic_role')">Add all available</a></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
			</div>

			<div class="col-md-3">
				<div id="availableItemsAffix">
				<button ng-click="createAggregation($event)" class="btn btn-success"
				        ng-disabled="ngModel.nics.length <= ngModel.bonds.length"><i class="icon-plus"></i> Add bond
				</button>
				<button ng-click="saveNetwork()" class="btn btn-primary" value="Save"><i class="icon-ok"></i> Save
				</button>

				<h3>Required Roles</h3>
				<span  ng-show="!hasAvailableResource('role')">All required roles were assigned</span>
				<ul>
					<li ng-show="role.enabled" ng-repeat="(id, role) in availableRoles">{{ role.name }}</li>
				</ul>

				<h3>Available NICs</h3>
				<ul>
					<li ng-repeat="(hwaddr, nic) in availableNics" ng-show="nic.enabled">{{ hwaddr }}</li>
				</ul>
				<span ng-show="!hasAvailableResource('nic')">No more available NICs.</span>
				</div>
			</div>

		</form>
	</div>
</div>
