body {
  background-image: url("../img/N.png");
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAgPUlEQVR4AX3djZIct46EUY0s2+//tv7X7cPpr5XidiwiagACiQRAsmpkr3z347///vv+eL78888/X8jXr1+P9uPbt2/HL85v/ddffx3Nlx/2119/pb78+eefX37//fejf/vtt4Ont4b4v//+e7irR+uBxvX9+/eTg/OXX3758vfff7/W+oDTC+1ZwVPtZoDJ1gvhY8cnb9fssOk4qtlaz2Za3vYUJq6tCdvM5X08HN8tJFQECEkSWevdYDkVSbehHx8fZyOtHRSRm996B62HmizmAPdAqim/Xmmyw9cnvHj84Rxo/bgAYYqXZ91McojYarb8/GptL+1nM4U7JM9c9sejwOtAIthG2Pw1Iomvh5/9rpA8m99bs29FmyOXtPY2dHhi1W7jHIzNocnWjuP2V2P9sLhtYjXgPHxh1ycn/ztbTJ/k5j3O54/676KqH9/bN0RQI3RAa5I/UvElFO8TU86zj9cNagOWj81fbjnquL2kIdfmg+lzEaa+YHeGLhA/UVMOaSZ9e/Jn72Y3W9zyw/VJ5jNPvcHC0M2VTy2x18e3AkhIichXTtIjsU26DwOxGw7H3obxaISv4fiqvbnVNwy8N43Y0N7WNjeM/DaYJltfnNSzGnhh2Pouli+e+qmGOJsOCwPv7XUQcdLlq8/Ws9o46uvElozDmgRqc/nuGOJwy+MQ+WuC7dFst0UzDY+bdEhxyie4XQB4TyJu8GqL8VW/HmCy41NLns0LL1ZtsR6+uPPVh3o95eIxZzXzq1O+nvo0w5NTJwBNImfzLakY0Qy/OF+6mM1bbHFN3Lf5EA5nefzZ8nvUNli/Q+ITt8nemjZPfm9RdeJcfhwdUL3CVZPdpsrL/44TDlf4eFzADkDcHu0cuPT9eD5vVUUVI+m1+1aLwcvN3s3OV25NWa/dmiZipNqG4tvNEssfrvi+dfKsi+GVp2ean8QBn5/28MF3yPB8CdvcLkdYfPDVte53UzXjFvM4GAd0Lg8HgAWxXlGoJpwwLFkcnxhf/uzWmiovvuN4/lh8B70DgPET+fGyG7C3BobP2lywcsOKl8/mb/6NhSnX2gEsxkbyl48L3prt8QYSPeVnJ73lsB9//PHHd4YNs6kVB3bDOv3eANg2QCMeOSvF18eGgxdnrxbH7YFJssPnj8ua3aD15zD1b1g+dvPJybebtZz1cWv9xB1fGLzt07u+y4XTT29Fb8jZN0GEbTynRE+3vrhixWiHaIikGLzYNlqM5ifFceSLtzUtri+Nbx4sSddLvCf4+CHXfDYS1pMvTPXEyjcDHF6z0x4YB8kW9xC62w4jnuAi1YZzKGrZ53nDfnwTgWtaMrCngkjYfAQRkUcqKt4Bs2sMztqTTeNsUDx9BsJWHydcWDoueXDbX5vT5YBRr2dz+Np0Nm758bdprWEXj4tUvx5tOvvdfpgTnz0n7PPJ6hAiO9HHD40RwMRwbQwfjDyicHY5fCSus3j8EK9eG3BjWuNwg+jyqlU/1cNvo/SY4BEPW25xsTB8+gpDF6tfGD4xIl9/vcEOj2954VfqBQavM3i+MT/eAMGEreAWZTeoApqo2fJqqgYUY7fOVjybtibri7PDsNHiesunH76E3c1jG5zI6Y2Ra92M5bfh5hQjxcIe5+NHt7p1+6QfMfhylzdcX4FisOcgGTWwTSxhdgWsEfVmWePg63Ys5+axbZLNcXjlygsnLj8OmsCswMuPp7U+HB5/F4iveJtpna+Dw48znb1rPoeqBt7nzX594rpccJ76gyXNw24P9XHmBd7byump2TRiDYhFTC9hhRVq0ArJMwRxO4gNjqtc+L314mqv1kfD8sPTchPcHUYzicGEdQjZYfW4G1pcbvvEVp/gJnCLVacem7M9CCcOZw/jO/9ykTNitoHdYLrNEa9I+nTy+FG+QojT2XAVL8e6eLHV5ay2WdtnsfL04XG4+i+un/rnay62Q+kwYOq9Gekk343jj39j7SNOYuPrpVnij+NrBg3saZg9DOSapwm8h3TT2Danx1qDq4vJZfeGhYPlJ/HrKTzdUHDspDxvIH+98scFa658bP2L2yS6p5njp8OxxfVdXbH6EbOPYp4OSh4MH0zxlw5QEwLZGi2O3KAVKQbbJygsDkU94nsz4u4ArMPLr/HiONowcbaYvAZLx0Wr2e8c65Vq8KndTH02+dnlW1eXnTjMDpGvvaPlquszd/cPy6eu3usf11cBBO8eG22wNkcByXS3TB7fYhQk5dY0LFw5ceGzAQmbj8RL8+0m4ecTw7WD11Nxmo+k2fUil8B5SIeCv0sH7yFxs3Hmz7beSwyX2D/55cR1/i+GOYGRNWADR1Kj8B7YiMLQFVoMv3WxcIbWnJoOjk7g+cjm2jw5afF62/w+G7SNib++0vLLazPjgyFptpjaOG+cdVj12K3lEuvmqm7+U60mOAH2UCKscAU3B4Z/fWxFy6up5WN7bdXczSqnWjXdW9QByk1g6l2ep08RfL2pyRZ3UCTe6vFVE56flMfXG5N//wSWr9x+V9RDs6obN43j/ClLIhDdEzBSa3akivaa+4z0Nt24BtsmceSPz1putxneusdafbgGgu1wwtV/+eWJZxt887afA3r8gK+n4mk12q/wsOJE7t1H8Tjh4mObxQX6eCR/R+60OCIrAfFKxHzFaOR3EzAKObBicA6PqHsf5L0RcOGrwQfnQtQzH6k/9cLY/GJtZD3jxkv6DIU5zueP3Zf8cajJJnEVs6/93guHC65ef9qDhjTYSg1UiObTLEFG5LtxpHhNWeNVsLcJbjkaHtbTIHCk11psa+5hlAffp0MPWzNeHPHQcon4fbhixcPQ1ZOT8FW7PL33JsK6nO2N2tnw7NObxUpF6Ihpw4VNw3gUFe+XnLgC3Y578N3MMPVQXdpBul3b/Gn6MczWgiXq6qV1ufz1UO/wbUg16wu2zyF88XL15SLR1QpfLv7eDDZclx5P+8kvlzjQj8dg3ztFDQK2BshG4mkwWGQ1JMaumOJh+DSfWIvhSvisDVqNjeHOD2ttkA4Gnxp63psOVy2a1OfqcLQ6zb49NAMeOA+pZ7beyPbaeutXD76+zfL6pb6DtDmH+fmDz2GRNpuNrIFhKppfjkL5NQJH6AZrcxtOrKHKtU7E44mjIbtUYfnJ5sQNe99c/RJ15civljd68cXhcW7/fNVuPj4S3+fq8yffa8Jeb6RtAN2tAO5zoAgcrYEw5Yk5YDl4G2i/qTUlJo+WQ9gGaPDyT/DxA16NLkgb2JDl1Yd1OXHQeM1UXnOE4cdB2OK42GqXh6fZ2aSew/A1J19xnPaQ8J0/ZQECVVzQem+ateTIGnDX5eEpzmdzOxjrRG412a3pbm6+7ZEvqRZf/cGSuNsk/uw2BO6dvxpxWG8NeWHisq4fcTaf+NbIn8+6N+sroyYlewDbkGIKEPGS3WjYiiL2yNm8frnFD5PIj4M/THFrgs+GJ9Zi3a6N1UdcYeSoRYqxvblbJ7sDtpa7uOWofxiivtytZV1cP3HC2sdir791whHBYX0S89dgWpx9f0/5FdgNqNDNY92bUx6th7C4VtSsB5ieMGJ86uvNRbg3tTju8OvrW2+TfApx4WgmefAdQj3ybW/iXWr9bbwZ+cPw4Xr9Uq+gRFLRbVxSzVUgfI21Gfuns7jK0Xh4tqb291MNV08/bFj1iTr4qt9miN381VXz/8srjiPeNM7lrUfxft/x4QjrUjQXnzlJv9O2L37rs/s1yYnQk40IUDGyTbWmxWuoX6r8JH9c+OP7RDybmTr8Dceurl7jqy/rM8wjX06HVj354gnbJibNCy+3NV2f1ZfDTrO9ifHBx9M+1K83Lt8hePyoVnxfgfs2arTfCwANEaFm8xVvTWsEVnPWbD43g70Ydrh+4audlCvfU4/i1gkeT+LA9oKJxcXfBuzvNXVxhoUn6Wq0jqOa+yYUCxsvbH3TcPYFtzU8fX6HAAuQwGygilkTRPt9tZZT7BjPH/IrGC992+9qo4hX433P+d/h1XJh5Dhonwp5HXY58mHbOOvqNEvYPcD4m0kN3GrmoxMcHr7lrbetG5Z+HQiAxAg2IVtCm1kTYvnD4akwvKZX+Mqh70GWB/buSU55dJujLoFvo+o3P4wcsm+SNX/45qu3YnT5cpJ8zVaees3gcif3PzvBw77+kkMFI5SYj+229YvaGs5TwdZiScMXowk/aSPVqZaYjSJxs8Xh9xdieYbBbU3K43cwe9PFF9tG1NvGmplvvxT1Wo51fdMEb/0cx+NHa3MQh4Kjmkfvgr2nKInP4/XMNiBbwz5fFagZ2gPTLWTHrTEN7y84Pg+c3JqPswH4e+PYeEi58vPVQ1zhTsLjB6yYxyye6onpr1zzx1eeecLjXLu8+Lcm3i5WvdKw55/UFSAFIwlUA+FqbItk0/Jh4XBso+Jbxyb0nY9ffrI89cUXJn7r5Q2TTw8w1aDVtjFsT33Gle9e44xLTrjexGL8bLJ9WN+YV1xSnwLAGo9cvO+xOJHcbe/P2Z+Rz5+K4entKFaDO7jXtrX4Cn+NxgkTzoZm52/Q6sfBv1zquAhEbAWXPFrOcsKJ3TnNWh9wYeKLC5bgIeGO7UffsprgIzUSEV/NOAi3i8DZnGQHgZfv0GsAjg+u5tgkTLXTYnLqhX8PU7xPGS4PruqWF484PAwuGga+/HKsXUBrNt0TVn62Gq3ZRIx0cOIJLsJ3rkbg1ZokabYBGtABiHkQ9uqXgxymYt1GcdJbF0c++jQ29WHqrbh13LS+aLketjwXJ6n31jZnefnrM2y9xNPFy19v8DtLNdLqiBN2D189i52/uXiMRyDChuGvAT6/wNt4DRqoTaDdogYUg60JXG1AmMXziZNqra9PpDh/G1L93lbr4rC3qNEmNG895pdjPjykPdBDdYrh00t4/vD4wsGw6xuvtUfPsEfnAOB00oRfsW6GGLuBrZGTcnxCSAVg8IRNlxf3YtjiDRhHv/i9WTD1oZ761vLEiDXZzekTV33x+Ou5fLpH7TtHLikfFsa6SyteXnEaht/T2mU/fj80jaQhDE26seJtNoIkYrnsyNmkIdl8nmrA1tCNg1+u8uDqTW5cDs+62yo3nL7li9E7qzVs0prGR+oNrnq4bWCft3dYdbrAeHCudADFOvTzyZLYN3AHVRiRDUewzWmw5/YrwtcQDWqtUdIQNdpaDC4/nvj52LD6IYvjl7tinQ+2Nw/WeuPxVce6fvnqsS+Htc+Y2C0uAu5y6gEfu7i85uM/f5VUUm8DW0CigyAOyyBEbItoxtPtbMPgiFh2dfjYNXKAzx+w4V0ImBWxOOvDenHVkQ9fT9Uzm3ng9qarwyenGBx+e2AT44Dle7dHYvWJR451go/w3T2+DqSkBUtCmC8SRB6xDssajo+Nr1+C1glMQ7HjtjH76QsPG6eN7DOxuWHp+tjN4q9uXHDseoEh1qSNar7y6gemWs1Hm7lDrGbxOMvDEV+Yrwq53RwSrAmNXEPiEmt2N8Mm2qgaxlNBsexbqxEn/n0D1bxrqekwqo2PWK/Uv9tMijtwtry486mX2ANSb2w59S8uVh/F6WpXoxz++pDbWjxbnP2tpIh33QYAEkk2r6bDGr6C8ZyEZ044PlzWSdx84RxkuPXLqQ7dxubrDdpbatNJbxYbd7nW98XpzRbrYOuDT759IGpbO1RYXPXT5oeTUy7dvPVy8IHpAJEj7hFHaB0BPNlmu90KwtoQ8b7b5Rs6W4y9Ejd//DhJ9cXioNv0LkgcZ9DnBsiHVb8Lpz6B6zDkwjVzXG3k4szsIOjy8MlfqX8+tcTrjS33/Ov3nIEENjkwooqzSbnbCB/p9TawTXI4Gl+pFr1c6lvzx9OA/Hxinvx6Ix3MzsAP1y3F0Vzl4yLybrveyhE3V/Ms3/ZbXvg+zerwxVevr/+JP4GCwEuUny6WXYw/X83xdRj3Rojt4OXgYJO46Z76Shtqh8UZ1yF5/pCf6KUD5d961i6OC4R36+BuDlzVjre3bntoRpcFZ7XkLi6O80tdExUvEJGYh8AkbH4FbPpNXn63VV48dHH51j3xFy+n/uj62OHcvGK0vNY4bSR8uf1u4SdmCI+LP6y8nS//SXz8EHMYSbPE5zBwxsMfn4sR/uiSciJlb1G2hglbHOEKf0XKVyzhS9ia82TvhpQPXx6Nf2Px0ep3663bcHiPDSsXrk8HTrVdHBweAkuqGV9xMZhmdvtx8pmL1E9+WFIf7C5En9tTNZKKIay5tIYRti6H7ju6xRSoMUVrgk46sHx0jzpsmmxPDSbGX371rG1COPk2jDTDcuvfem/5AT9+xLn5Xc5qx5XenqsHy+/Jp0aH1ufs/CWHBUQKHLGkCIvTRHPdAJi46BqmE/44iottozD5ypVTTdjsOIrXMx2uWFjcbAewl2lrwciLz5ps3Z2RP/4wnxmfP+tl+eA8vSWHvw0quaas25i1t5i4gRTxRjg4cet4wqf5e2OqCd/bwlfTtx9HvGIevh65vfrLIV5Nfhx699azwy4Pe2Vj5YvfewQn7iFpfr31ae4tqzbsqdGnRcDDmUZm3ffz3abBaMpbwjZ4OEX5+hTQsA2RrnFYUpNq44PLjtvak5SrD/nVKQ+uwxKDiUtMPuzOzh8XXT4/4SuvfeQ3p6ee4IgLoL9s9cpvltd/py7JU1OS2DbV963ihohEE8Uij2N5cPHbiM3hb8i+43z4YbvVcRuyDecjafxEvzDr58Mfb3z1Wi5/T9hih/zxQ7xLVz4su4OGrUaHHk84l1yf9VvuI+/H7wLJAsTwZDcg7Ak8fyCuOPLyhfk9NaNxG2MgB8GP3yPWYHLZ5Wf3eVSjR4yExZUUk0e6tXqWb942SBwHqV86XrZn54Wtt81tD+jy4OIzf39ISNfrT39zUcMBOkFFK1CS4tkNZYNtRrcRpgZwEI2QYt0e/mqI4+5tgMXdDbdOqnXnFFc/3vJwsz3q0uGKdWvf8TRTOXQifw+B37oam8Mut37g/8/fyyqZjhywYvy7jpgfhnRIfA3NX27+3Sw8bXxYfG3Ou+bFe5NdpD3YLoha1cvGv9IM9SO2Plxd1GbEVU/hu0S7b/G0J+XDumT1Vu1vAEvQrdOEX0Ld4gYwNLKaqaB4RfkqHHeaX761ZvZNlMdXTzj75x82qS6cp6HE1K9ufdH81RNfjvx8+FbqhW7ujbPFukh6ta427maJv/30NRHPTx8+PxQjwAYUpK3ZDUkr2CbJE4erkbCH8PljY5pI5DcEX7Garkm6WFzwLo96DpWG88CI1VfzyRGLa/nlNw9/c+Bgy2kT2dXD2e8t/u2hvLBbL5xYcnrzwyPQAAB8ieR9xaxP8jQA66YQ8ZqrKf58bIIDdpti88cfBo5UW602qM+JmBkWy1YXHq787UWsOnQHrF69Fc8nn88h0h6yWq3qi7Fvsa/mqK/zlxy2oRI01Y1RpFtQg+FqrA3Kv81kt9kwbH75XQQ121B8BOad2Fx9LY91teRY4yfexOqF8Raxm42Nr4OWhyNccZz6s653WLmE3wPXW2xdfzD15Uu0crrtMxVJxICRRLA+eBJec+xy6GLyPeWIeQxmswiNA64N3xvI79C232rKx5fAtGlqwslVo1tZXTn6xJ/OR8uPux46RP5mFgtP81fb2ix3v/GKw37jYJCC6RovTt/FyxMLx6c5DZCaaNhw1p4+h7A2LYHD06HVFz9OEldz1N9ii5XnIPC6vW0srg6/jYOXC1udMHJdmvotXn189cAXF53Nj5ukz39jKLEHiNCaXdITePyQHK5GyonHOvvGyC/GNlj4vf1qyK2PPh1y+OOlbZSDixdfb1n4U+TxY9dsgqPc3iaxasKI89EOtbfVhVoRx1f/m1sdvMQ6LPz5VyeBIrJWGGAb5tcsTcKz45CjwT4HDWejF8e2gR2AOnGI4cFfDWtSX2fx+IHfYfDDskl98zUH/q0h1mes+nJhEpg4+OD0TfReLF662s13wM8f8HrUdzMWt34dSA1JIFuA3WeFTcK1UR0Uf7kH+PzBV65amoL1tGE1mI9uODTiOBqGXV+wHQY7YW/deOjF2TxvIuzWhHuX336JtwdsnG5/F7BYtcT6TPJ5OiB13v7LRcREspseGd/dsPUSw9Qsv/hi2IS+B9c8H13N9L1hi4lTLrxb3/fdxsB2iOK4+j1Srp6qRfPfsWryw/Q0D53Atg98cuph5+5ihjkHEkmNRFTj/HwlhysvnZ+u+extAj5suffw/HwNH04euQfuVm7P5dB49CCPsOvNeuvbOLPWc7jWW7s549aHy8Bf73E3c1g6Xz2cvwZkQUqkK87fEJJrTtNwnl7D4nJIr+J9kDUh9741fNXDEWeDi68PhvDtG51tDjl0fTQbf3w0CX/3IKZGwo6PDV8urg61HLoaxelysx/rH7eZc5sV8xDfavESNZP0p5nWMBq8m2rI6qjFF764PLFqu/UNqw/CB1ePtM+TeLeUb/ttBr1XFxaGVKP1crPrjx2+nHrZvtfeXk7y84da9QhzPlmaMswGkbXpNZCOUIMVbYglly9ObGA11CP9foKJi1+eAeuHr374d2NgxPojaPXlsIm+6704jnJpjwPrj9jwfHD89b4523d86vFXb/ewi4KDyAlHP58f/1oEkHMLtabJkmkUaX4xj83fw+Cz+fxJv1TxwtJw7/jk2HB9wdTLYm1k/Gm4ZlGjzSkvHvwO2qbXB59a8u/DECP1HW/1moNffmLmRA9dunzyfvqrpAVWS6xJOrtmi5cjTvg1E/5ew+Aobn2LG9UfRYstvs12MfpFCgfTodgEg9//vBEPDn2U1yaLJ+L12i03D7tD3H1Qmz9f/ews9a7GvoGvP2XVFCBBgpDkq9maE7sb3+LF4Bu8OmKeamTXaLm7AXeuwQ1J4HrrwvGz47Im1vxq9anTRwf37o2IM/3J9Plm5YsX1z2HmEeMJs0O2/ph/1hEnAaS3Ku3DUcO63HKkVp3e+IKd0CPHzVdHF+ctL7UteHWhK+B5JVDdzBw4bOrYc3GQ6/fbCQeHOEcfP3mE+drb6qZlpMNl/Cpa3+qXy96OJP2fVashAWv3y2E2SLibhU5pI94az54DcLFxU/Elq+Nwb92GPl6o20GoeOhxeU3QzE5pN75dw2fj9++6Ls/RYqrJZ+2qSvV1Ld9qj7doVaji1a/6fM/pNz3d5uJLB/C3eTiNdQaPnIxdhvQYSxWLExxw7Z5sNn4ymXriRie9C1m12/c2xMO2DYFvh7ZxKZWC5c96uDF8aXhyt8ZYO769yxy8529QKpQxSOOrMKGPgmPIrDF2ZHuZwtvOMN5ao4fl8cti5cmcdOwJDy7g3BB9KWuoWxweP7yG1huPdlggpcPpron8Pwhro49MgOJl65n+Z74wsI3O1vvHjXrNRvu/DUgRsR3MWuSX3Ib3/f2AB4/NLS/JMuhe73bNFiiud083DZgm9QbDk9vD18bgCc7Xj5SLr42CQepv3KtSWs99xa1P8UW1/7FJxYXmzTP5+rz5/Za7utPWQHvgvyRSdoB32Hvxu/G4tuNx6NG/NYdrANzQHgXFxZfNeptD78eaVJ/bHnNZlPZCZweuyzlw9QLXV68e+jyO9B4d87qN5fY639RTkJgdgOXxJfwEYNruKb4irHj0yz/vg3ibRZc0kFZ83vamPD1lObH7TPkINtE/fW2wfTZqZ/6w7M+fjPBi3m2H1zlnsDjh/qkLwBbXnVbL1/8uF6cAXNad8PYpFOXlMDbADHDWBPaOl/+8uLSmFjDxt3bUD6/DXYofDTZwarRp0gN8X5PwMPww1S3OfGSOMMd5+MHPEw9hi1Oq+XBAUcT9fDpmx9XfDB6oPO//rPoLdYpR66ZkhSJaF9HvsXg20H79ITDQ8JoiGw8DlotQ9Ek/Fk8fnRorenFZNucPocw6vPRHah6+kh601qncXrkk50FR29tuPJWd4jt3flkWWiyDUYQgI2cRGytOL1xmPzdDOv44oyLJgaC3zjbIz8b9l6HEasvvmryJ/VKr+TXQ4febGLFy8Ffvx0WX5/L7WN7wbPr+JrJ+vwlB0A3rOKrEbSpEhTj64HVnGZoa3iDVagc6+xe4Rrk95C46Xwn8PzBn6hJqptNq9ea3Vx8y2FT8bgYLmW47b98Oiye8Hz7iaz3OGiCWz1SD/aC7fnp/11FzoN+/JDMl862JuG3qA2sOBs2Xzq+jcWNt09IuG6hNaENQWyCenGFqRbe+ivGR4rB3uuwdLgw8L0NYmHjCbcHFya+U/D5Iw76myQS2W4mfwQR+i5KJLA7LP8hfR5EOFg2DpvbJvLJb3O7bfAJjLe3/upjP6/FmkXO2rj44NrIDr3ceOl9xHdPxJoZp3W6OnxEjfBbL1+19RrH61+/Iwgg2ED5NJEN27rm+GqOTcLze/KFy8ePh6i9mi3WQMXKDR/GhnfgMPJ24NZ6u3/pxtUfQKpF735sbbYHnx7o4mx5d6w64eh853eIhCVqAD5SIVqip1hEcMWK93slTN9ODdwPvnDbIN42sRrF4fXkgeHvd6FaOM3iDSyHjscfsZP8uPpnF/z5y6H5mn/9zSCufjhaD7jD8yX1fnpuqIrTJRXbda98OE0g3wIVclOLw/dJypeGL5++D0Bu2HDliHkM2yZUqz7aeH754Vdnq8OOH76c+MS7tDe2dYcaj73Ijke//HGxX/9JGyKFG1ySBALYwPdw/JsLny8/XuKWOBSiTjjrPh9sfnFSblzlrB8uProBYcqDId3G8vlgqlkOf5h873BhwpuxPcq3GD6CS69iy//63zoBuAt6/W2gAUk3XPNJeQbN32aKKaZJUqP543AYaslvY7Lli1uz46bVxOXiiBNvMPlpyOfwbUBYOPnWd0/LUc3wNFFDbXH55H4z+D16JXS2NQ4POX1Y1CjyGqMr1OCS+ElE1vlO4PkDl81xGP0paQcvh/YGxiOvBvN1kMsv5qLA4rcmsOXpv82vX9o8O6se+cujrcu3Zq+Ik954l2Yx1qSZ2Xistyd9bN7/AAFIcBzq40bIAAAAAElFTkSuQmCC"); }

@font-face {
  font-family: tmo;
  src: url("../fonts/TextMeOne-Regular.ttf"), url("../fonts/TextMeOne-Regular.eot");
  /* IE9+ */ }
@font-face {
  font-family: po;
  src: url("../fonts/PoiretOne-Regular.ttf"), url("../fonts/PoiretOne-Regular.eot");
  /* IE9+ */ }
@font-face {
  font-family: fl;
  src: url("../fonts/Flamenco-Light.ttf"), url("../fonts/Flamenco-Light.eot");
  /* IE9+ */ }
@font-face {
  font-family: js;
  src: url("../fonts/JuliusSansOne-Regular.ttf"), url("../fonts/Flamenco-Light.eot");
  /* IE9+ */ }
@font-face {
  font-family: ns;
  src: url("../fonts/Neo Sans.ttf"), url("../fonts/Flamenco-Light.eot");
  /* IE9+ */ }
h1, h2, h3, h4 {
  font-family: ns;
  font-weight: normal; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 1.7em; }

.dashboardSmallBlock {
  background-color: white;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  text-align: center;
  padding: 10px; }

.dashboardSmallBlock .value {
  font-size: 35px; }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 1.0; } }
@-moz-keyframes fadeout {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 1.0; } }
@-o-keyframes fadeout {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 1.0; } }
@keyframes fadeout {
  0% {
    opacity: 1.0; }

  50% {
    opacity: 0.2; }

  100% {
    opacity: 1.0; } }
.animate {
  -moz-animation: fadeout normal 1.5s infinite; }

th.with-caret {
  cursor: pointer;
  cursor: hand; }

th.with-caret:hover {
  background-color: #f5f5f5; }

th.with-caret:hover .caret {
  opacity: 1; }

.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000; }

.caret-inactive {
  color: black;
  opacity: 0.4; }

.nav-nopills li a {
  padding: 0; }

a[ng-click] {
  cursor: pointer; }

.buffer {
  margin: 10px; }

/* Side notes for calling out things
-------------------------------------------------- */
/* Base styles (regardless of theme) */
.bs-callout {
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee; }

.bs-callout h4 {
  margin-top: 0; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code,
.bs-callout .highlight {
  background-color: #fff; }

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4; }

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc; }

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0; }

.wizard .btn:after, .wizard .btn:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.wizard .btn:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 17px;
  margin-top: -17px; }

.wizard .btn:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #ccc;
  border-width: 18px;
  margin-top: -18px; }
