<div class="modal" close="close()">
    <div class="modal-dialog">
        <div class="modal-content">
          <form class="form-horizontal modal-form" ng-submit="editSwitch()">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
              <h3 id="myModalLabel">Modify switch</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label class="col-sm-2">Name:</label>
                  <div class="col-sm-6">
                    <input type="text" name="name" class="form-control" ng-model="switch.desired.name">
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2">Type of switch:</label>
                    <div class="col-sm-10 btn-group">
                        <label class="btn btn-default" ng-class="{active: switch.desired.type=='bridge'}">
                            <input type="radio" ng-model="switch.desired.type" class="hidden" value="bridge">Bridge
                        </label>
                        <label class="btn btn-default" ng-class="{active: switch.desired.type=='vxlan'}">
                            <input type="radio" ng-model="switch.desired.type" class="hidden" value="vxlan">VXLAN
                        </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2">Tag:</label>
                  <div class="col-sm-2">
                    <input type="text" name="tag" class="form-control" ng-model="switch.desired.tag">
                  </div>
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal" aria-hidden="true" ng-click="close()">Close</button>
              <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save</button>
            </div>
          </form>
      </div>
  </div>
</div>
