<h1>Image "{{image.desired.name}}"</h1>

<div class="col-md-4 well">
    <h2>Details:</h2>
     <ul class="nav nav-pills">
      <li>
        <button class="btn btn-primary" ng-click="open()">
            <i class="icon-edit icon-white"></i>
            Modify
        </button>
      </li>
    </ul>

   <table class="table table-striped">
      <tr>
        <th>Name</th>
        <td>{{image.desired.name}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{image.desired.type}}</td>
      </tr>
     <tr>
        <th>Description</th>
        <td>{{image.desired.description}}</td>
      </tr>
      <tr ng-show="image.desired.source_uri">
        <th>Status</th>
        <td>
            <span class="label label-info" data-toggle="tooltip" title="{{image.desired.source_uri}}">
                Initializing
            </span>
        </td>
      </tr>
      <tr>
        <th>Size</th>
        <td>
            <span ng-show="image.size>0">
                {{image.size|number}} MB
            </span>
            <span class="label label-danger" ng-show="image.size<=0 || !image.size">Needs to be defined</span>
        </td>
      </tr>
 
    </table>
</div>

<div class="col-md-7 col-md-offset-1 well">
    <h2>Available for storage pools:</h2>
    <ul class="nav nav-pills">
      <li>
        <button class="btn btn-primary" ng-click="volumeListOpen()">
            <i class="icon-edit icon-white"></i>
            Manage volumes
        </button>
      </li>
    </ul>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Storage Pool</th>
        <th>Used space</th>
        <th>Actions</th>
      </tr>
      </thead>
        <tbody>
          <tr ng-repeat="storagepool in storagepools">
             <td>{{storagepool.desired.name}}</a></td>
             <td>{{(storagepool.used_space || 0)|number}} MB</td>
             <td>
                 <button type="button" class="btn-success btn" ng-show="!storagepool.used" ng-click="allocate(storagepool, image.size)">Allocate</button>
                 <button type="button" class="btn-danger btn" ng-show="storagepool.used" ng-click="deallocate(storagepool)">Deallocate</button>
             </td>
          </tr>
      </tbody>
    </table>
</div>
