<h1>List of affinity groups</h1>

<ul class="nav nav-pills">
	<li>
    <button class="btn btn-primary" ng-click="open()">
        <i class="icon-plus-sign icon-white"></i> 
        New affinity group
    </button>
	</li>
  <li class="pull-right">
    <input class="form-control" ng-model="search" placeholder="Filter">
  </li>
</ul>
	
<table class="table table-striped">
	<thead>
	<tr>
    <th ng-click="predicate = 'desired.name'; reverse=!reverse">Name</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	
	<tr ng-repeat="affinityGroup in affinityGroups | filter: search | orderBy:predicate:reverse"">
		<td>{{affinityGroup.desired.name}}</td>

    <td><a class="btn btn-success" href="#/{{tenant}}/affinity-group/{{affinityGroup.desired.uuid}}">
            <i class="icon-zoom-in icon-white"></i> View
        </a>
    <button type="button" class="btn-danger btn" ng-click="deleteAffinityGroup(affinityGroup)">
        <i class="icon-trash icon-white"></i> Delete
    </button></td>
	</tr>
	</tbody>
</table>
