<h1>Affinity group "{{affinityGroup.desired.name}}"</h1>

<div class="col-md-4 well">
    <h2>Details:</h2>
     <ul class="nav nav-pills">
      <li>
        <button class="btn btn-primary" ng-click="open()">
            <i class="glyphicon glyphicon-pencil"></i>
            Modify
        </button>
      </li>
    </ul>

   <table class="table table-striped">
      <tr>
        <th>Name</th>
        <td>{{affinityGroup.desired.name}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{affinityGroup.desired.type}}</td>
      </tr>
    </table>
</div>

<div class="col-md-offset-1 col-md-6 well">
    <h2>Instances</h2>
    <ul class="nav nav-pills">
     <li>
     <button class="btn btn-primary" ng-click="instanceListOpen()">
           <i class="glyphicon glyphicon-cloud"></i>
           Add instance
       </button>
      </li>
    </ul>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Memory</th>
        <th>State</th>
        <th>CPU</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr ng-repeat="instance in instances">
        <td><a href="#/{{tenant}}/instance/{{instance.desired.uuid}}">{{instance.desired.name}}</a></td>
        <td>{{instance.desired.mem}}</td>
        <td>{{instance.desired.state}}</td>
        <td><span class="label label-info">{{instance.desired.vcpu}} virtual</span>
            <span class="label label-warning">{{instance.desired.rcpu}} reserved</span></td>
        <td><button type="button" class="btn-danger btn" ng-click="unlink(instance)">Unlink</button></td>
      </tr>
      </tbody>
    </table>
</div>

