<h1>Affinity groups</h1>
<div pc-multiactions>
    <ul class="nav nav-pills">
        <li>
            <button class="btn btn-primary" ng-click="open()">
                <i class="glyphicon glyphicon-plus icon-white"></i> 
                New affinity group
            </button>
        </li>
        <li class="pull-right">
            <input class="form-control" ng-model="search" placeholder="Filter">
        </li>
        <li class="pull-right">
            <pc-multieditbutton ></pc-multieditbutton>
        </li>
    </ul>

    <table class="table table-striped table-responsive table-hover">
    <thead>
    <tr>
     <th pc-multiall />
     <th>Name</th>
     <th>Type</th>
     <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="affinityGroup in affinityGroups | filter: search | orderBy:predicate:reverse">
        <td pc-multicheck="{{ affinityGroup.desired.uuid }}"/>
        <td>{{affinityGroup.desired.name}}</td>
        <td>{{affinityGroup.desired.type}}</td>

    <td><a class="btn btn-success" href="#/{{tenant}}/affinity-group/{{affinityGroup.desired.uuid}}">
            <i class="icon-zoom-in icon-white"></i> View
        </a>
    </tr>
    <tr>
     <td colspan="4" ng-show="editMode">
       <button class="btn btn-danger" ng-click="deleteSelected(getSelected())">
         <i class="icon-plus-sign icon-white"></i>Delete selected
       </button>
    </td>
</tr>
</table>


</div>

