<div class="modal" close="instanceListClose()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="instanceListClose()">×</button>
              <h3 id="myModalLabel">Manage instances</h3>
            </div>
            <div class="modal-body">
                <input class="form-control" ng-model="search" placeholder="Filter">

              <div class="alert alert-info" ng-if="!filteredInstances.length">
                  No instances to assign to this affinity group.
              </div>
              <table class="table table-striped" ng-if="filteredInstances" pc-table="{{search}}">
                <thead>
                <tr>
                  <th pc-column="desired.name">Name</th>
                  <th pc-column="desired.state">State</th>
                  <th>CPUs</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in getFiltered(filteredInstances)">
                  <td><a href="#/{{tenant}}/instance/{{instance.desired.uuid}}">{{instance.desired.name}}</a></td>
                  <td>{{instance.desired.state}}</td>
                  <td><span class="label label-info">{{instance.desired.vcpu}} virtual</span>
                      <span class="label label-warning">{{instance.desired.rcpu}} reserved</span></td>
                  <td><button type="button" class="btn-danger btn" ng-click="link(instance)">Link</button></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal" aria-hidden="true" ng-click="instanceListClose()">Close</button>
            </div>
        </div>
    </div>
</div>
